/** Major Elements */

article {
    padding: 10%;
}

aside {
	/* background-color: #800040; */
	width: 48%;
	height:85%;
	display:inline-block;
	text-align:center;
	margin-right: 2em;
}

header {
    max-width: inherit;
	width: inherit;
	border-bottom: 2px double gray;
	background-color: #ADADAD;
	height: 80px;
    padding: 0;
}

footer {
	display: block;
	background-color: #ADADAD; 
	text-align:center;
	margin-top:-30px;
	margin-left:1em;
	width:97%;
	border-top-left-radius: 100px 100%;
	border-top-right-radius: 100px 100%;
}

form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section {
	/* background-color: #404040; */
    padding: 10%;
	margin-left:1em;
	width: 97%;
	height: 620px;
	border-bottom: 5px double gray;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	display:inline-block;
	box-shadow: 0px 10px 10px #ADADAD;
}

/** Minor Elements */

footer h2 {
	color:black;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	display:inline;
}

header h1 {
	color: black;
	font-weight: bold;
	font-size: 48px;
	display: inline;
	font-family: 'Orbitron', sans-serif;
}

header h3 {
	color: black;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
    font-size: 15px;
    margin-top: 0px;
}

section h2 {
	margin-top:20px;
	height:5%;
	text-align:center;
}

button span.glyphicon {
    margin-right: 10px;
}


form button {
    width: 100px;
}

/** class */

.current {
	background-color:#CDCDCD;
}

.fixed-top {
	position: fixed;
	top: 0;
	z-index: 9999;
}

.mainContainer {
    max-width: 1075px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: thick double #000;
    border-right: thick double  #000;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
}

.clear {
    clear: both;
}

.navbar {
    padding-right: 40px;
}

/** IDs */
#intro article {
	width:96%
}